h1{
    font-size: 1.5rem;
    font-weight: 700;
}
.custom-navbar {
  background-color: rgb(44, 37, 54);
  border: 2px solid rgb(78, 72, 88);
  border-radius: 10px;
  margin-top: 20px;
  height: 60px;
  font-family: sans-serif;
  width: 90%; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.navbar-title {
    background: linear-gradient(135deg, #883C7D, #f8f4ff, #6D3C88);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
}

.navbar-right a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.nav-link {
  font-weight: 500;
  color: #fff;
  transition: color 0.2s ease, border-bottom 0.2s ease;
  padding-bottom: 2px;
}

.nav-link:hover {
  color: #c8b9d1;
  text-decoration: none;
}

.nav-link.active {
  background-color: #883c7d99;
  color: #fff;
  border-radius: 8px;
  padding: 6px 12px;
}